 <div class="buttonWrapper" data-bs-toggle="modal" href="#exampleModal">
    <img src="../Template/ShoppingCart/GenieUsShopBasket.svg" alt="Shopping Basket" id="basketIcon"></img>
    <div class="numberOfItems">0</div>
  </div>

  <!-- Modal -->

  <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable to modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header">

          <h5 class="modal-title" id="exampleModalLabel">Shopping Cart</h5>

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>

        <div class="modal-body">

          <!-- Default text placed onto Button to allow redirect to shopping page when cart shows empty -->

          <button type="button" class="btn btn-primary" onclick="location.href='#'"><!-- need redirect to products --> 
            No Items... Please click here to add items to your cart.
          </button>

        </div>

        <div class="totalCart" id="totalCart">Cart Empty - Please click button above for Shopping Page</div>
        <div class=""></div>
        <!-- Takes value from UpdateCartTotal() -->

        <!-- total cart value -->

        <div class="modal-footer">

          <button onclick="clearLocalAndRefresh()" type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Clear Cart
          </button>

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>

        </div>
      </div>
    </div>
  </div>